{{!< default}}
<div class="home-container">

	<div class="col col-left">
		<div class="character-column"></div>
		<div class="character-column"></div>
		<div class="character-column"></div>
		<div class="character-column"></div>
		<div class="character-column"></div>
		<div class="character-column"></div>
	</div>

	<div class="col col-middle center-align">
		<div class="valign-wrapper">
			<div class="valign-center">
				<h1>VANCOUVER</h1>
				<h2>MAY 26 & 27 2017</h2>
				<p><img src="/images/blend_logo.png" width="104" alt="Blend" /></p>
				<p class="description">
					Blend is a conference-style party in Vancouver for our motion, design
					& animation family. Because when we get together,
					<a class="bold" target="_blank" href="https://vimeo.com/176173878">amazing things happen</a>.
				</p>
				<p class="hide-on-med-and-down description">
					<a href="/tickets" class="btn">Buy tickets!</a>
				</p>
				<p class="hide-on-med-and-down">
					Already have tickets? <br>
					<strong class="bold"><a href="#" data-target="modalticketnumber">JOIN THE PARTY!</a></strong>
				</p>
				<p class="hide-on-med-and-down">
					<a href="#" class="refresh"><i class="material-icons">replay</i></a>
				</p>
			</div>
		</div>
	</div>

	<div class="col col-right">
		<div class="character-column"></div>
		<div class="character-column"></div>
		<div class="character-column"></div>
		<div class="character-column"></div>
		<div class="character-column"></div>
		<div class="character-column"></div>
	</div>

</div>

<script>
	var characters = [
		{{#each characters}}
		{
			"name" : "{{name}}",
			"surname" : "{{surname}}",
			"website" : "{{website}}",
			"message" : "{{message}}",
			"blockAmount" : "{{blockAmount}}",
			"blocks" : [
				{
					"shape": "{{block1Shape}}",
					"color": "{{block1Color}}",
					"size": "{{block1Size}}",
					"texture": "{{block1Texture}}",
					"hidden": "{{block1Hidden}}"
				},
				{
					"shape": "{{block2Shape}}",
					"color": "{{block2Color}}",
					"size": "{{block2Size}}",
					"texture": "{{block2Texture}}",
					"hidden": "{{block2Hidden}}"
				},
				{
					"shape": "{{block3Shape}}",
					"color": "{{block3Color}}",
					"size": "{{block3Size}}",
					"texture": "{{block3Texture}}",
					"hidden": "{{block3Hidden}}"
				}
			]
		},
		{{/each}}
	]
</script>

<div id="modalticketnumber" class="modal">
	<div class="valign-wrapper">
		<div class="container">
			<div class="row">
				<div class="col s10 offset-s1 center-align">
					<div class="section">
						<h1>You're Coming to Blend! </h1>
						<p>
							Let your friends know by typing in the ticket code from your
							confirmation email and making your Blend character. You can find
							<a target="_blank" href="/images/ticket.png">your code</a>
							on the .pdf you receive when you purchase your ticket.
						</p>
						<p>
							Choose your wooden blocks carefully because you won't be able to
							edit your character after you submit it to our home page!
						</p>
					</div>
					<form action="/character" method="POST">
						<div class="section">
							<input type="text" name="ticketId" value="" placeholder="ticket code">
						</div>
						<div class="section">
							<input type="submit" value="SUBMIT" >
						</div>
					</form>
					<p>
						I'll do it later! <a href="#" class=" modal-action modal-close">Take me back to the home</a>.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
