{{!< default}}
<div class="container lineup">
	<div class="row">
		<div class="col s12">
			<h2 class="host center-align">
				<a href="#modal-speaker">
					<img src="/images/justin.jpg" alt="Justin Cone" width="80" />
					<span class="breathe"></span>
					<br class="hide-on-med-and-up">
					<br class="hide-on-med-and-up">
					Justin Cone (host)
				</a>
			</h2>

			<div id="modal-speaker" class="modal">
					<div class="col s12 l5 image hide-on-med-and-down">
						<img src="/images/justin.jpg" alt="Justin Cone" />
					</div>
					<div class="col s12 l7 text">
						<h4>Justin Cone</h4>
						<h5><a href="http://justincone.com">justincone.com</a></h5>
						<p>
							Justin Cone is the co-founder of Motionographer, the F5 festival
							and The Motion Awards by Motionographer.
							Justin was formerly the Director of Special Operations for Psyop
							and has worked in various capacities at NBC-Universal, Adobe, Apple
							and SCAD during his 15-year career. He has spoken around the world
							about the impact of motion design on visual communication and has
							served on juries for the Art Directors Club, AIGA, Type Directors
							Club and the Association of Independent Commercial Producers.
						</p>
						<p>
							<a href="{{facebook}}" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="{{twitter}}" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="{{instagram}}" target="_blank">
								<i class="fa fa-instagram"></i>
							</a>
							<a href="{{vimeo}}" target="_blank">
								<i class="fa fa-vimeo"></i>
							</a>
							<a href="{{youtube}}" target="_blank">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="{{dribbble}}" target="_blank">
								<i class="fa fa-dribbble"></i>
							</a>
							<a href="{{behance}}" target="_blank">
								<i class="fa fa-behance"></i>
							</a>
						</p>
					</div>
			</div>
		</div>
	</div>
	<div class="row">

		{{#each lineup}}
			<div class="col s12 m6 l3 item">
				<a href="#modal{{@index}}" class="thumbnail">
					<img src="{{thumbnail_blue.url}}" alt="{{name}}" class="thumbnail-blue"/>
					<img src="{{thumbnail_color.url}}" alt="{{name}}" class="thumbnail-color" />
				</a>
				<h2>
					<a href="#modal{{@index}}">
						{{name}}
					</a>
				</h2>
				<div id="modal{{@index}}" class="modal">
						<div class="col s12 l5 image hide-on-med-and-down">
							<img src="{{thumbnail_color.url}}" alt="{{title}}" />
						</div>
						<div class="col s12 l7 text">
							<h4>{{name}}</h4>
							<h5><a href="{{link}}">{{link}}</a></h5>
							{{{bio}}}
							<p>
								{{#if facebook}}
									<a href="{{facebook}}" target="_blank">
										<i class="fa fa-facebook"></i>
									</a>
								{{/if}}
								{{#if twitter}}
									<a href="{{twitter}}" target="_blank">
										<i class="fa fa-twitter"></i>
									</a>
								{{/if}}
								{{#if instagram}}
									<a href="{{instagram}}" target="_blank">
										<i class="fa fa-instagram"></i>
									</a>
								{{/if}}
								{{#if vimeo}}
									<a href="{{vimeo}}" target="_blank">
										<i class="fa fa-vimeo"></i>
									</a>
								{{/if}}
								{{#if youtube}}
									<a href="{{youtube}}" target="_blank">
										<i class="fa fa-youtube"></i>
									</a>
								{{/if}}
								{{#if dribbble}}
									<a href="{{dribbble}}" target="_blank">
										<i class="fa fa-dribbble"></i>
									</a>
								{{/if}}
								{{#if behance}}
									<a href="{{behance}}" target="_blank">
										<i class="fa fa-behance"></i>
									</a>
								{{/if}}
							</p>
						</div>
				</div>
			</div>
		{{/each}}
		<div class="col s12 m6 l3 item">
			<img src="/images/more_speakers.png" alt="More speakers"/>
		</div>
	</div>
</div>
