<nav>
  <div class="nav-wrapper nav-header">
    <a href="/" class="brand-logo">
			<img src="/images/blend_type_2x.png" width="104" alt="BLEND logo" />
		</a>
		<a href="#" class="button-collapse">
			<i class="material-icons">menu</i>
		</a>
    <ul class="right nav">
			{{#each navLinks}}
				{{#ifeq ../section class}}
					<li class="nav nav-{{class}} nav-current">
						<a href="{{link}}">{{label}}</a>
					</li>
				{{else}}
					{{#ifeq class "tickets"}}
						<li class="nav nav-{{class}}">
							<a href="{{link}}" target="_blank">{{label}}</a>
						</li>
					{{else}}
						<li class="nav nav-{{class}}">
							<a href="{{link}}">{{label}}</a>
						</li>
					{{/ifeq}}
				{{/ifeq}}
			{{/each}}

			<li class="nav-social hide-on-med-and-down">
				{{#each navSocial}}
					<a href="{{link}}" target="_blank"><i class="fa fa-{{site}}"></i></a>
				{{/each}}
			</li>

    </ul>
  </div>
</nav>
